
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model QL_Luong_MVC.Models.LuongCoban
@{
    var dsCV = ViewBag.DSChucVu as List<QL_Luong_MVC.Models.ChucVu>;
}

<h2>Thêm mức lương mới</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label>Chức vụ</label>
        <select class="form-control" name="IDChucVu_LuongCB">
            @foreach (var cv in dsCV)
            {
                <option value="@cv.IDChucVu">@cv.NameChucVu</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label>Mức lương (VNĐ)</label>
        @Html.TextBoxFor(m => m.MucLuong, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-success">Lưu</button>
}
